build/
test_data/
*.pcd

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
TAGS
tags

*~
*.backup
\#*\#
\#*
.\#**
.vscode
build
*.zip
*.eps
*.gp
*.tar.gz
*.ps
*.pdf
*.pyc

# IDE
.idea
cmake-build-debug

# if you mounted this repository as home for a docker image
.viminfo
.bashrc
.bash_history